{{ define "footer" }}
  <script src="/socket.io/socket.io.js"></script>
    <script src="/bower/jquery/jquery.min.js"></script>
    <script src="/bower/foundation/js/foundation.min.js"></script>
    <script src="/bower/handlebars/handlebars.min.js"></script>
    <script src="/javascripts/ichat.io.js"></script>
    <script>  $(document).foundation(); </script>
  </body>
</html>
{{end}}